/polar
/past_files
/pastmask
/Mask_SA
log/ray_behind_Fresnel_thru-focus.pt
opt_3D_polar.py
opt_3D_spherical.py
64thru-focus*
polar.py
PSF_in_depth_new.py
MTFvs*
polar_image.png
Result_optimized*
ob_z.csv